html,  body {
  background-color: black;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow-x: hidden;
}
h1{
  color: white;
  text-align: center;
  font-size: 48px;
}
canvas {
  display: block;
}
head {
  background-color:#ce3635;
  text-align: center;
  color: #fff;
  font-weight: bold;
  padding-top:10em;
  overflow-x: hidden;
}
* { color:#fff;
  font-weight: bold;
  font-family: cursive;
  text-decoration: none;
overflow-x: hidden;}

button {
  margin-top: 0px;
  margin-bottom: 10px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 4px 10px;
  text-decoration: none;
  font-size: 16px;
  border-radius: 8px;
}
